@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
body {
  background-color: rgb(89, 89, 89);
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  color: rgb(200, 219, 255);
  font-size: 2.5em;
  text-align: center;
}

#title {
  font-size: 2.8em;
  text-decoration: underline;
  color: rgb(116, 250, 166);
  margin-top: 10%;
  margin-bottom: 10%;
}

h4 {
  color: rgb(252, 255, 187);
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
}

pre {
  color: rgb(254, 244, 237);
  margin: 0 auto;
  padding-left: 15%;
  border: 3px solid rgb(255, 255, 255);
  font-size: 1.7em;
  background-color: rgb(57, 57, 57);
  transition: 1.2s;
}

pre:hover {
  background-color: rgb(224, 224, 224);
  color: rgb(37, 37, 37);
  border: 3px solid rgb(249, 181, 181);
  transition: 1.2s;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10%;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1%;
}

p {
  color: rgb(140, 231, 201);
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 1px;
  margin-top: 1px;
}

a {
  color: rgb(140, 231, 201);
}
